node_modules/
dist/
.cache/
.env.local
.env.*.local

# build files / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code settings
.vscode/

# System files (Mac/Windows)
.DS_Store
Thumbs.db


*.sql~
*.sqlite
*.db
__pycache__/
*.pyc

# backups
*.bak
*.tmp


# big images or design exports
*.psd
*.ai
*.xcf

# local export folders
export/
backup/
temp/

